*.exe
*.dll
*.sdf
*.opensdf
*.zip
*.suo
*.ncb
*.vcproj.*
*.pkg
*.dmg
*.depend
*.layout
*.mode1v3
*.db
*.LSOverride
*.xcuserdata
*.xcschememanagement.plist
.devcontainer/nginx/logs/*.log
.vscode/ipch/*
.vscode/*.log
gui/*
build/
.vs/*
*xcuserdata*

Icon?
.DS_Stor*
DerivedData

build
generated

compiler/x64
src/generated
src/retroplug/luawrapper/generated
thirdparty/bin
thirdparty/lib
thirdparty/build
thirdparty/LivePP
