*.exe
*.dll
*.sdf
*.opensdf
*.zip
*.suo
*.ncb
*.vcproj.*
*.pkg
*.dmg
*.depend
*.layout
*.mode1v3
*.db
*.LSOverride
*.xcuserdata
*.xcschememanagement.plist
build-*
.vscode/ipch/*
gui/*
.vs/*
*xcuserdata*

Icon?
.DS_Stor*

compiler/x64
src/model/CompiledLua.cpp
thirdparty/bin
thirdparty/lib
thirdparty/build