[submodule "deps/catch2"]
	path = deps/catch2
	url = https://github.com/catchorg/Catch2.git
	branch = devel
[submodule "deps/sameboy"]
	path = deps/sameboy
	url = https://github.com/LIJI32/SameBoy.git
