image:
- Visual Studio 2019
environment:
  CI_BUILD: true
  APPVEYOR_SAVE_CACHE_ON_ERROR: true
  APPVEYOR_CACHE_SKIP_RESTORE: true
  VcpkgAutoLink: false
  dep_secret:
    secure: Go1kB2XlFAIQvngM+YPkhD7p+Cmfzo1rcNWCiA8E6Lo=
  dep_salt:
    secure: 39s+KlQG6Hg9XF4FP6/KW+KrDYYdxj1ZoS4zoiX2LuS62MczMH5hoq2ZOmjyx6wD6qip9xBcltozTX6hn8fK3g==
init:
  # Do a clean build if we are on the main branch (usually only for releases)
  #- ps: IF ($env:APPVEYOR_REPO_BRANCH -eq "main") {$env:APPVEYOR_CACHE_SKIP_RESTORE = "true"}
  - ps: >-
      if ($env:APPVEYOR_REPO_TAG -eq "true")
      {
          $env:RETROPLUG_VERSION = "$env:APPVEYOR_REPO_TAG_NAME"
      }
      else
      {
          $env:RETROPLUG_VERSION = "dev-$($env:APPVEYOR_REPO_COMMIT.Substring(0, 7))"
      }
      Update-AppveyorBuild -Version "$env:RETROPLUG_VERSION"
clone_folder: c:\retroplug
cache: c:\retroplug\build
install:
  - ps: iex ((New-Object Net.WebClient).DownloadString('https://raw.githubusercontent.com/appveyor/secure-file/master/install.ps1'))
  - cmd: appveyor-tools\secure-file -decrypt ci/dep.7z.enc -secret %dep_secret% -salt %dep_salt%
  - sh: ./appveyor-tools/secure-file -decrypt ci/dep.7z.enc -secret $dep_secret -salt $dep_salt

  - cmd: appveyor DownloadFile https://github.com/Microsoft/vswhere/releases/download/2.3.2/vswhere.exe
  - cmd: appveyor DownloadFile https://github.com/premake/premake-core/releases/download/v5.0.0-alpha16/premake-5.0.0-alpha16-windows.zip
  - cmd: appveyor DownloadFile https://github.com/gbdev/rgbds/releases/download/v0.5.1/rgbds-0.5.1-win64.zip

  - cmd: 7z e premake-5.0.0-alpha16-windows.zip
  - cmd: 7z e rgbds-0.5.1-win64.zip
  - cmd: 7z e ci/dep.7z

  - cmd: set PATH=c:\retroplug;%PATH%
build_script:
  - cmd: build.bat
artifacts:
    - path: build\deploy\RetroPlug_standalone*.zip
      name: 'RetroPlug Standalone Win64'
    - path: build\deploy\RetroPlug_vst2*.zip
      name: 'RetroPlug VST2 Win64'
deploy:
  deploy:
  release: RetroPlug $(APPVEYOR_BUILD_VERSION)
  description: 'Release description'
  provider: GitHub
  auth_token:
    secure: /qpQ094QMnI1maDmM/leovgbLDBFluaEi22tjmdjRTXaDHER2apNW5M9qEvyb8p5 # your encrypted token from GitHub
  artifact: /.*\.zip/            # upload all NuGet packages to release assets
  draft: true
  prerelease: false
  on:
    branch: main                 # release from master branch only
    APPVEYOR_REPO_TAG: true        # deploy on tag push only
